.coin-info-desc, .coin-info-heading {
    padding: 1.5rem;
    cursor: pointer;
}

.coin-info-heading {
    text-transform: uppercase;
    font-weight: 500;
}

.coin-info-desc {
    padding-top: 0;
}

.coin-info-desc a {
    text-decoration: underline !important;
    font-weight: 700;
}

.coin-info-desc a:hover {
    color: var(--blue) !important;
    transition: all 0.2s;
}

